[submodule "external/meshtastic"]
	path = external/meshtastic
	url = https://github.com/meshtastic/firmware.git
[submodule "external/meshcore"]
	path = external/meshcore
	url = https://github.com/meshcore-dev/MeshCore.git
